

h5{
    text-align: center;
    color: brown;
}

h6{
    text-align: center;
    color: rgb(9, 102, 82);
}

.fecha{
    text-align: center;
}

.nonos{
    height: 50px;
 width: 50px;
}

.dpto{
    height:500px;
    width: 700px;
}

.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }

.pagos{
    height: 1px;
    width: 1px;
}